<div class="row">
  <div class="well col-md-3 col-centered">
    <%= simple_form_for @user, defaults: { input_html: { class: 'form-control' } }  do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :password %>
  
      <%= f.button :submit, 'register', class: "btn btn-danger" %>
    <% end %>
  </div>
</div>

<h1 class="text-center" style="margin-top: 40px;">Create quick, informal personas</h1>