<li class="behForm clearfix" id="<%= index %>">
  <%= form_tag("/behaviours/#{persona.id}", method: :put, remote: true) do %>
    <%= text_field_tag :attrib, nil, class: "form-control pull-right", autocomplete: "off" %>
    <%= hidden_field_tag :index, index %>
    <%= hidden_field_tag :update, update %>
    <%= hidden_field_tag :div_id, div_id %>
    <br>
    <%= submit_tag "save", class: "create pull-left btn btn-danger" %>
    <%= button_tag "Cancel", type: 'button', class: "pull-left btn btn-danger cancel" %>
  <% end %>
</li>