<header class="header angleBorders navbar">
  <a href="<%= root_path %>"><img src="<%=asset_url('logo.png') %>" alt="Personapp logo"></a>
  <% if signed_in? %>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to "home", root_path %></li>
      <li><%= link_to "settings", current_user %></li>
      <li><%= link_to "persona guide", "#" %></li>
      <li><%= link_to "logout", signout_path, method: :delete %></li>
    </ul>
  <% else %>
    <ul class="nav navbar-nav pull-right">
      <% unless skip_nav %>
        <li><%= link_to "about", "#" %></li>
        <li><%= link_to "sign in", signin_path %></li>
      <% end %>
    </ul>
  <% end %>
</header>